<body class="d-flex flex-column min-vh-100">

    <!-- ================= HEADER ================= -->
    <app-TopBar />

    <!-- ================== MAIN ================== -->
    <main class="content-wrapper d-flex">
        <!-- Navigation -->
        <navigationBar class="bg-white nav-panel border-end border-subtle-dark" />
        <!-- View -->
        <div class="bg-custom-background d-flex flex-column flex-grow-1 overflow-y-auto py-3 px-5">
            <!-- Title -->
            <view-title title="Panel Administrativo" icon="bi-grid-1x2-fill" />
            <!-- Content -->
            <div class="d-flex flex-column flex-grow-1 mt-3">
                <!-- [Loading] -->
                <div *ngIf="loadingUsers" class="text-center py-4 m-auto">
                    <div class="spinner-border text-primary"></div>
                    <p class="small text-muted mt-2 mb-0">Cargando usuarios...</p>
                </div>
                <!-- [Filled] -->
                <div *ngIf="!loadingUsers && usersData.length > 0" class="flex-grow-1 overflow-auto">
                    <!-- Box - Counts -->
                    <div class="d-flex flex-row flex-wrap justify-content-between gap-3 mb-3 text-center">
                        <div class="bg-white rounded-2 p-3 h-100 flex-grow-1">
                            <p class="bodyMedium fw-semibold mb-1">Usuarios Totales</p>
                            <p class="fs-1 text-primary fw-bold m-0">{{ generalUsersCount }}</p>
                            <p class="bodySmall text-muted m-0">Cantidad de usuarios registrados en la plataforma.</p>
                        </div>
                        <div class="bg-white rounded-2 p-3 h-100 flex-grow-1">
                            <p class="bodyMedium fw-semibold mb-1">Usuarios Activos</p>
                            <p class="fs-1 text-success fw-bold m-0">{{ activeUsersCount }}</p>
                            <p class="bodySmall text-muted m-0">Recuento de usuarios 'Activos' actualmente.</p>
                        </div>
                        <div class="bg-white rounded-2 p-3 h-100 flex-grow-1">
                            <p class="bodyMedium fw-semibold mb-1">Usuarios Suspendidos</p>
                            <p class="fs-1 text-warning fw-bold m-0">{{ suspendedUsersCount }}</p>
                            <p class="bodySmall text-muted m-0">Recuento de usuarios 'Suspendidos' actualmente.</p>
                        </div>
                        <div class="bg-white rounded-2 p-3 h-100 flex-grow-1">
                            <p class="bodyMedium fw-semibold mb-1">Usuarios Baneados</p>
                            <p class="fs-1 text-danger fw-bold m-0">{{ bannedUsersCount }}</p>
                            <p class="bodySmall text-muted m-0">Recuento de usuarios 'Baneados' actualmente.</p>
                        </div>
                    </div>
                    <!-- Box - Filter -->
                    <div class="d-flex flex-column justify-content-center align-items-start bg-white mb-3 p-3 rounded-2">
                        <!-- Title -->
                        <p class="bodyMedium fw-semibold mb-2">Filtrar</p>
                        <!-- Content -->
                        <div class="d-flex flex-row flex-wrap gap-2">
                            <input type="radio"
                                class="btn-check"
                                name="filterOption"
                                id="filter-users-all"
                                autocomplete="off"
                                [checked]="selectedFilter === 'all'"
                                (change)="onFilterChange('all')"
                            />
                            <label class="bodySmall py-1 px-3 rounded-2 btn btn-outline-dark" for="filter-users-all">
                            Todos los Usuarios
                            </label>
                            <input type="radio"
                                class="btn-check"
                                name="filterOption"
                                id="filter-users-suspended"
                                autocomplete="off"
                                [checked]="selectedFilter === 'suspended'"
                                (change)="onFilterChange('suspended')"
                            />
                            <label class="bodySmall py-1 px-3 btn btn-outline-dark" for="filter-users-suspended">
                            Registro de Suspendidos
                            </label>
                            <input type="radio"
                                class="btn-check"
                                name="filterOption"
                                id="filter-users-banned"
                                autocomplete="off"
                                [checked]="selectedFilter === 'banned'"
                                (change)="onFilterChange('banned')"
                            />
                            <label class="bodySmall py-1 px-3 btn btn-outline-dark" for="filter-users-banned">
                            Registro de Baneados
                            </label>
                        </div>
                    </div>
                    <!-- [1] - Tabla de Usuarios -->
                    <div *ngIf="selectedFilter === 'all'">
                        <div class="d-flex flex-column justify-content-center align-items-start bg-white mb-3 p-3 rounded-2">
                            <!-- Content -->
                            <div class="d-flex flex-row flex-wrap gap-2 mb-0">
                                <input type="radio" class="btn-check" name="sortOption" id="sort-old" autocomplete="off"
                                    [checked]="selectedSort === 'old'" (change)="setSort('old')" />
                                <label class="bodySmall py-1 px-3 rounded-2 btn btn-outline-dark" for="sort-old">
                                    Más antiguos
                                </label>
                                <input type="radio" class="btn-check" name="sortOption" id="sort-recent" autocomplete="off"
                                    [checked]="selectedSort === 'recent'" (change)="setSort('recent')" />
                                <label class="bodySmall py-1 px-3 btn btn-outline-dark" for="sort-recent">
                                    Más recientes
                                </label>
                                <input type="radio" class="btn-check" name="sortOption" id="sort-usernameASC"
                                    autocomplete="off" [checked]="selectedSort === 'usernameASC'"
                                    (change)="setSort('usernameASC')" />
                                <label class="bodySmall py-1 px-3 btn btn-outline-dark" for="sort-usernameASC">
                                    Nombre de Usuario (A-Z)
                                </label>
                                <input type="radio" class="btn-check" name="sortOption" id="sort-usernameDSC"
                                    autocomplete="off" [checked]="selectedSort === 'usernameDSC'"
                                    (change)="setSort('usernameDSC')" />
                                <label class="bodySmall py-1 px-3 btn btn-outline-dark" for="sort-usernameDSC">
                                    Nombre de Usuario (Z-A)
                                </label>
                            </div>
                            <hr class="my-3 border-dark w-100">
                            <!-- Table -->
                            <div class="w-100 table-responsive">
                                <table class="table table-borderless align-middle">
                                    <thead>
                                        <tr>
                                            <th class="bodyMedium fw-semibold">Usuario</th>
                                            <th class="bodyMedium fw-semibold">Estado</th>
                                            <th class="bodyMedium fw-semibold">Rol</th>
                                            <th class="bodyMedium fw-semibold">Verificado</th>
                                            <th class="bodyMedium fw-semibold">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of usersData; let i = index">
                                            <!-- @username -->
                                            <td class="bodySmall">
                                                {{ user.username }}
                                            </td>
                                            <!-- @status -->
                                            <td class="bodySmall" [ngClass]="{
                                                    'text-dark': user.status === 'Activo',
                                                    'text-danger': user.status === 'Baneado',
                                                    'text-primary': user.status === 'Suspendido'
                                                }">
                                                {{ user.status }}
                                            </td>
                                            <!-- @role -->
                                            <td class="bodySmall">
                                                {{ user.role === 'admin' ? 'Administrador' : 'Usuario' }}
                                            </td>
                                            <!-- @isVerified -->
                                            <td class="bodySmall">
                                                {{ user.isVerified ? 'Sí' : 'No' }}
                                            </td>
                                            <!-- ACCIONES -->
                                            <td [ngSwitch]="user.status">
                                                <!-- Detalles (Siempre visible) -->
                                                <button class="bodySmall btn btn-sm btn-outline-secondary rounded-2 me-2"
                                                    data-bs-toggle="modal" data-bs-target="#userDetailsModal"
                                                    (click)="viewUser(user)">
                                                    <i class="bi bi-person-circle me-1"></i> Detalles
                                                </button>
                                                <!-- ACTIVO -->
                                                <ng-container *ngSwitchCase="'Activo'">
                                                    <button class="bodySmall btn btn-sm btn-outline-primary rounded-2 me-2"
                                                        data-bs-toggle="modal" data-bs-target="#userSuspendFormModal"
                                                        (click)="openSuspendModal(user)">
                                                        <i class="bi bi-clock me-1"></i> Suspender
                                                    </button>
                                                    <button class="bodySmall btn btn-sm btn-outline-danger rounded-2"
                                                        data-bs-toggle="modal" data-bs-target="#userBanFormModal"
                                                        (click)="openBanModal(user)">
                                                        <i class="bi bi-slash-circle me-1"></i> Banear
                                                    </button>
                                                </ng-container>
                                                <!-- SUSPENDIDO -->
                                                <ng-container *ngSwitchCase="'Suspendido'">
                                                    <button class="bodySmall btn btn-sm btn-outline-success rounded-2 me-2"
                                                        data-bs-toggle="modal" data-bs-target="#revokeSuspendFormModal"
                                                        (click)="openRevokeSuspensionModal(user)">
                                                        <i class="bi bi-wrench-adjustable-circle me-1"></i> Revocar Suspensión
                                                    </button>
                                                </ng-container>
                                                <!-- BANEADO -->
                                                <ng-container *ngSwitchCase="'Baneado'">
                                                    <button class="bodySmall btn btn-sm btn-outline-success rounded-2"
                                                        data-bs-toggle="modal" data-bs-target="#revokeBanFormModal"
                                                        (click)="openRevokeBanModal(user)">
                                                        <i class="bi bi-wrench-adjustable-circle me-1"></i> Revocar Baneo
                                                    </button>
                                                </ng-container>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- [2] - Registro de suspensiones -->
                    <div *ngIf="selectedFilter === 'suspended'" class="d-flex flex-column gap-3">
                        <div class="bg-white p-3 rounded-2" *ngFor="let suspendedRecord of suspendedUsersData; let i = index">
                            <!-- Header -->
                            <div class="d-flex flex-row flex-wrap align-items-center justify-content-between mb-3">
                                <p class="bodySmall fw-semibold mb-0 text-truncate">#{{ suspendedRecord._id }}</p>
                                <p class="bodySmall text-white px-3 py-1 rounded-2 mb-0" [ngClass]="{
                                        'bg-success': suspendedRecord.status === 'En Curso',
                                        'bg-dark': suspendedRecord.status === 'Revocada',
                                        'bg-primary': suspendedRecord.status === 'Expirada'
                                    }">
                                    {{ suspendedRecord.status }}
                                </p>
                            </div>
                            <!-- Body -->
                            <div class="d-flex flex-column gap-3">
                                <div>
                                    <p class="bodyMedium mb-0">
                                        El usuario
                                        <span class="text-primary">{{ suspendedRecord.idUser.username }}</span>
                                        fue suspendido por
                                        <span class="text-primary">{{ suspendedRecord.suspendedBy.username }}</span>
                                        durante
                                        <span class="text-primary">{{ suspendedRecord.suspendedTime }} minutos</span>.
                                        La suspensión inició el
                                        <span class="text-primary">{{ suspendedRecord.suspendedAt | date:'d MMMM' }}</span>
                                        a las
                                        <span class="text-primary">{{ suspendedRecord.suspendedAt | date:'h:mm:ss' }}</span>
                                        y finaliza el
                                        <span class="text-primary">{{ suspendedRecord.suspendedUntil | date:'d MMMM' }}</span>
                                        a las
                                        <span class="text-primary">{{ suspendedRecord.suspendedUntil | date:'h:mm:ss' }}</span>.
                                    </p>
                                    <p class="bodySmall mb-0">
                                        Revocada el
                                        <span class="text-primary">
                                            {{ suspendedRecord.revokedAt | date:'d MMMM' }}
                                        </span>
                                        a las
                                        <span class="text-primary">
                                            {{ suspendedRecord.revokedAt | date:'h:mm:ss a' }}
                                        </span>
                                        por
                                        <span class="text-primary">
                                            {{ suspendedRecord.revokedBy?.username }}
                                        </span>
                                    </p>
                                </div>
                                <!-- Sub-bloques: Razones -->
                                <div>
                                    <p class="bodySmall mb-0 text-muted">Razón de suspensión</p>
                                    <p class="bodyMedium mb-0">{{ suspendedRecord.reason }}</p>
                                </div>
                                <div>
                                    <p class="bodySmall mb-0 text-muted">Razón de revocación</p>
                                    <p class="bodyMedium mb-0">{{ suspendedRecord.revokeReason || '—' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [3] - Registro de baneos -->
                    <div *ngIf="selectedFilter === 'banned'" class="d-flex flex-column gap-3">
                        <div class="bg-white p-3 rounded-2" *ngFor="let bannedRecord of bannedUsersData; let i = index">
                            <!-- Header -->
                            <div class="d-flex flex-row flex-wrap align-items-center justify-content-between mb-3">
                                <p class="bodySmall fw-semibold mb-0 text-truncate">
                                    #{{ bannedRecord._id }}
                                </p>
                                <p class="bodySmall text-white px-3 py-1 rounded-2 mb-0"
                                [ngClass]="{
                                        'bg-danger': bannedRecord.status === 'Vigente',
                                        'bg-dark': bannedRecord.status === 'Revocado'
                                }">
                                {{ bannedRecord.status }}
                                </p>
                            </div>
                            <!-- Body -->
                            <div class="d-flex flex-column gap-3">
                                <!-- Resumen -->
                                <div>
                                    <p class="bodyMedium mb-0">
                                        El usuario
                                        <span class="text-primary">{{ bannedRecord.idUser.username }}</span>
                                        fue baneado por
                                        <span class="text-primary">{{ bannedRecord.bannedBy.username }}</span>
                                        el día
                                        <span class="text-primary">{{ bannedRecord.createdAt | date:'d MMMM' }}</span>
                                        a las
                                        <span class="text-primary">{{ bannedRecord.createdAt | date:'h:mm:ss' }}</span>
                                    </p>
                                    <p class="bodySmall mb-0" *ngIf="bannedRecord.revokedAt">
                                        Revocado el
                                        <span class="text-primary">
                                            {{ bannedRecord.revokedAt | date:'d MMMM' }}
                                        </span>
                                        a las
                                        <span class="text-primary">
                                            {{ bannedRecord.revokedAt | date:'h:mm:ss a' }}
                                        </span>
                                        por
                                        <span class="text-primary">
                                            {{ bannedRecord.revokedBy?.username }}
                                        </span>
                                    </p>
                                </div>
                                <!-- Razón -->
                                <div>
                                    <p class="bodySmall mb-0 text-muted">Razón del baneo</p>
                                    <p class="bodyMedium mb-0">{{ bannedRecord.reason }}</p>
                                </div>
                                <!-- Revocación -->
                                <div *ngIf="bannedRecord.revokedAt">
                                    <p class="bodySmall mb-0 text-muted">Razón de revocación</p>
                                    <p class="bodyMedium mb-0">
                                        {{ bannedRecord.revokeReason || '—' }}
                                    </p>
                                </div>
                                <!-- Si no existe revocación -->
                                <div *ngIf="!bannedRecord.revokedAt">
                                    <p class="bodySmall text-muted mb-0">Este baneo no ha sido revocado.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- ================= FOOTER ================= -->
    <app-BottomBar [type]="errorMessage ? 'error' : successMessage ? 'success' : null"
        [message]="errorMessage || successMessage" />

</body>

<!-- ================= MODAL - DetailUser ================= -->
<div class="modal fade" id="userDetailsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded-2 p-3" *ngIf="userDataUnique">
            <!-- Header -->
            <div class="mb-3">
                <p class="bodyLarge modal-title m-0">{{userDataUnique.username}}</p>
            </div>
            <!-- Body -->
            <div class="d-flex flex-column gap-3">
                <div class="d-flex flex-column">
                    <p class="bodySmall text-muted m-0">ID</p>
                    <p class="bodyMedium m-0">{{ userDataUnique._id }}</p>
                </div>
                <div class="d-flex flex-column">
                    <p class="bodySmall text-muted m-0">Correo</p>
                    <p class="bodyMedium m-0">{{ userDataUnique.email }}</p>
                </div>
                <div class="d-flex flex-column">
                    <p class="bodySmall text-muted m-0">Rol</p>
                    <p class="bodyMedium m-0">{{ userDataUnique.role }}</p>
                </div>
                <div class="d-flex flex-column">
                    <p class="bodySmall text-muted m-0">Registrado</p>
                    <p class="bodyMedium m-0">{{ userDataUnique.createdAt | date:'medium' }}</p>
                </div>
                <div class="d-flex flex-column">
                    <p class="bodySmall text-muted m-0">Modificado</p>
                    <p class="bodyMedium m-0">{{ userDataUnique.updatedAt | date:'medium' }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ================= MODAL - SuspendUser ================= -->
<div class="modal fade" id="userSuspendFormModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded-2 p-3" *ngIf="selectedUserToSuspend">
            <!-- Header -->
            <div class="mb-3">
                <p class="bodyLarge modal-title m-0">Suspender a un usuario</p>
            </div>
            <!-- Body -->
            <form (ngSubmit)="confirmSuspend(selectedUserToSuspend._id)" class="d-flex flex-column gap-3">
                <!-- @suspendedTime -->
                <div>
                    <label for="suspendTime" class="bodySmall fw-semibold mb-1">Tiempo de suspensión</label>
                    <select id="suspendTime" class="form-select" name="suspendedTime"
                        [(ngModel)]="suspendUserForm.suspendedTime" required>
                        <option [value]='1'>1 minuto</option>
                        <option [value]='5'>5 minutos</option>
                        <option [value]='10'>10 minutos</option>
                    </select>
                </div>
                <!-- @suspendedReason -->
                <div>
                    <label for="suspendReason" class="bodySmall fw-semibold mb-1">Razón de la suspensión</label>
                    <textarea id="suspendReason" class="form-control" rows="4" name="reason"
                        [(ngModel)]="suspendUserForm.reason" placeholder="Describe la razón de la suspensión..."
                        required></textarea>
                </div>
                <!-- Resumen -->
                <div class="bg-light p-3 rounded-2">
                    <p class="bodySmall mb-0">
                        Estás a punto de suspender a
                        <span class="fw-bold text-primary">{{ selectedUserToSuspend.username }}</span>
                        por <span class="fw-bold">{{ suspendUserForm.suspendedTime }} minutos</span>.
                    </p>
                </div>
                <!-- Acciones -->
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-outline-dark px-3 py-1" data-bs-dismiss="modal">
                        Cancelar
                    </button>

                    <button type="submit" class="btn btn-primary px-3 py-1" [disabled]="!suspendUserForm.reason.trim()">
                        Suspender
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ================= MODAL - RevokeSuspension ================= -->
<div class="modal fade" id="revokeSuspendFormModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded-2 p-3" *ngIf="selectedUserToRevokeSuspend">
            <!-- Header -->
            <div class="mb-3">
                <p class="bodyLarge modal-title m-0">Revocar suspensión</p>
            </div>
            <!-- Body -->
            <form (ngSubmit)="confirmRevokeSuspension(selectedUserToRevokeSuspend._id)"
                class="d-flex flex-column gap-3">
                <!-- @reason -->
                <div>
                    <label for="revokeSuspendReason" class="bodySmall fw-semibold mb-1">Razón de la
                        revocación</label>
                    <textarea id="revokeSuspendReason" class="form-control" rows="4" name="reason"
                        [(ngModel)]="revokeSuspendForm.reason" placeholder="Describe por qué se revoca la suspensión..."
                        required></textarea>
                </div>
                <!-- Info -->
                <div class="bg-light p-3 rounded-2">
                    <p class="bodySmall mb-0">
                        Estás a punto de revocar la suspensión de
                        <span class="fw-bold text-primary">{{ selectedUserToRevokeSuspend.username }}</span>.
                    </p>
                </div>
                <!-- Acciones -->
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-outline-dark px-3 py-1" data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-success px-3 py-1"
                        [disabled]="!revokeSuspendForm.reason.trim()">
                        Revocar suspensión
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ================= MODAL - BanUser ================= -->
<div class="modal fade" id="userBanFormModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded-2 p-3" *ngIf="selectedUserToBan">
            <!-- Header -->
            <div class="mb-3">
                <p class="bodyLarge modal-title m-0">Banear a un usuario</p>
            </div>
            <!-- Body -->
            <form (ngSubmit)="confirmBan(selectedUserToBan._id)" class="d-flex flex-column gap-3">
                <!-- @reason -->
                <div>
                    <label for="banReason" class="bodySmall fw-semibold mb-1">Razón del baneo</label>
                    <textarea id="banReason" class="form-control" rows="4" name="reason"
                        [(ngModel)]="banUserForm.reason" placeholder="Describe la razón del baneo..."
                        required></textarea>
                </div>
                <!-- Info -->
                <div class="bg-light p-3 rounded-2">
                    <p class="bodySmall mb-0">
                        Atención, estás a punto de banear al usuario
                        <span class="fw-bold text-primary">{{ selectedUserToBan.username }}</span>.
                        Esta acción es permanente y no puede ser revocada.
                    </p>
                </div>
                <!-- Acciones -->
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-outline-dark px-3 py-1" data-bs-dismiss="modal">
                        Cancelar
                    </button>

                    <button type="submit" class="btn btn-outline-danger px-3 py-1">
                        Banear
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ================= MODAL - RevokeBan ================= -->
<div class="modal fade" id="revokeBanFormModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded-2 p-3" *ngIf="selectedUserToRevokeBan">
            <!-- Header -->
            <div class="mb-3">
                <p class="bodyLarge modal-title m-0">Revocar baneo</p>
            </div>
            <!-- Body -->
            <form (ngSubmit)="confirmRevokeBan(selectedUserToRevokeBan._id)" class="d-flex flex-column gap-3">
                <!-- @reason -->
                <div>
                    <label for="revokeBanReason" class="bodySmall fw-semibold mb-1">Razón de la revocación</label>
                    <textarea id="revokeBanReason" class="form-control" rows="4" name="reason"
                        [(ngModel)]="revokeBanForm.reason" placeholder="Describe por qué se revoca el baneo..."
                        required></textarea>
                </div>
                <!-- Info -->
                <div class="bg-light p-3 rounded-2">
                    <p class="bodySmall mb-0">
                        Estás a punto de revocar el baneo de
                        <span class="fw-bold text-primary">{{ selectedUserToRevokeBan.username }}</span>.
                        El usuario volverá a estar <span class="fw-bold">Activo</span>.
                    </p>
                </div>
                <!-- Acciones -->
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-outline-dark px-3 py-1" data-bs-dismiss="modal">
                        Cancelar
                    </button>

                    <button type="submit" class="btn btn-success px-3 py-1" [disabled]="!revokeBanForm.reason.trim()">
                        Revocar baneo
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>