<!-- /user-mangement.component.html -->
<body class="d-flex flex-column min-vh-100">

    <!-- ================= HEADER ================= -->
    <app-TopBar />

    <!-- ================== MAIN ================== -->
    <main class="content-wrapper d-flex">
        <!-- View Navigation -->
        <navigationBar class="bg-white nav-panel border-end border-subtle-dark" />
        <!-- View Content -->
        <div class="bg-custom-background d-flex flex-column flex-grow-1 overflow-y-auto py-3 px-5">
            <!-- Title -->
            <div class="d-flex align-items-center justify-content-start px-0">
                <div class="bg-dark text-white d-flex justify-content-center align-items-center me-2 rounded-circle"
                    style="width: 40px; height: 40px;">
                    <i class="bi bi-person-vcard fs-5"></i>
                </div>
                <p class="bodyLarge m-0 fw-bold text-dark">Panel Administrativo</p>
            </div>
            <!-- Content -->
            <div class="d-flex flex-column flex-grow-1 mt-3">
                <!-- [Loading] -->
                <div *ngIf="loadingUsers" class="text-center py-4 m-auto">
                    <div class="spinner-border text-primary"></div>
                    <p class="small text-muted mt-2 mb-0">Cargando usuarios...</p>
                </div>
                <!-- [Filled] -->
                <div *ngIf="!loadingUsers" class="flex-grow-1 overflow-auto">
                    <!-- Tablas -->
                    <div class="bg-white mb-3 p-3 rounded-2">
                        <div class="row text-center">

                            <div class="col-12 col-md-4 mb-3 mb-md-0">
                                <p class="bodyMedium fw-semibold mb-1">Usuarios Activos</p>
                                <p class="fs-1 text-primary fw-bold m-0">{{ usersCount }}</p>
                                <p class="bodySmall text-muted m-0">Registrados en total.</p>
                            </div>

                            <div class="col-12 col-md-4 mb-3 mb-md-0">
                                <p class="bodyMedium fw-semibold mb-1">Usuarios Suspendidos</p>
                                <p class="fs-1 text-warning fw-bold m-0">{{ suspendedUsersCount }}</p>
                                <p class="bodySmall text-muted m-0">Con suspensión activa.</p>
                            </div>

                            <div class="col-12 col-md-4">
                                <p class="bodyMedium fw-semibold mb-1">Usuarios Baneados</p>
                                <p class="fs-1 text-danger fw-bold m-0">{{ bannedUsersCount }}</p>
                                <p class="bodySmall text-muted m-0">Con ban activo.</p>
                            </div>

                        </div>
                    </div>
                    <!-- Ordernar Por -->
                    <div class="bg-white mb-3 p-3 rounded-2">
                        <p class="bodyMedium fw-semibold mb-1">Ordenar Por</p>
                        <div class="d-flex flex-wrap gap-4">
                            <!-- Más antiguos -->
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="sortOption" id="old" checked
                                    (change)="sortBy('old')" />
                                <label class="form-check-label" for="old">
                                    Más antiguos
                                </label>
                            </div>
                            <!-- Más recientes -->
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="sortOption" id="recent"
                                    (change)="sortBy('recent')" />
                                <label class="form-check-label" for="recent">
                                    Más recientes
                                </label>
                            </div>
                            <!-- Usuarios A-Z -->
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="sortOption" id="usernameASC"
                                    (change)="sortBy('username')" />
                                <label class="form-check-label" for="usernameASC">
                                    Orden alfabético (Nombre de Usuario)
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- Aca cambiaria a -> ver usuarios activos / suspendidos o baneados de ahi abajo cambiaria -->
                    <!-- Lista de Usuarios -->
                    <div *ngIf="usersData.length > 0" class="d-flex flex-column gap-3">
                        <div class="bg-white p-3 rounded-2" *ngFor="let user of usersData; let i = index">
                            <!-- Title -->
                            <div class="d-flex justify-content-between align-items-start flex-wrap">
                                <div>
                                    <p class="bodyLarge m-0">{{ user.username }}</p>
                                </div>
                                <div class="d-flex flex-row gap-2">
                                    <p class="text-white bodySmall bg-secondary mb-0 py-1 px-3 rounded-pill">
                                        {{ user.status }}
                                    </p>
                                    <span class="text-white bodySmall py-1 px-3 rounded-pill"
                                        [ngClass]="user.isVerified ? 'bg-primary' : 'bg-danger'">
                                        {{ user.isVerified ? 'Verificado' : 'No Verificado' }}
                                    </span>
                                </div>
                            </div>
                            <hr class="my-3">
                            <!-- Actions -->
                            <div class="d-flex flex-wrap gap-2">
                                <button class="bodySmall btn btn-outline-primary btn-sm rounded-2"
                                    data-bs-toggle="modal" data-bs-target="#userDetailsModal" (click)="viewUser(user)">
                                    Ver Detalles
                                </button>
                                <!-- <button class="bodySmall btn btn-outline-danger btn-sm rounded-2"
                                    (click)="deleteUser(user)">
                                    Eliminar
                                </button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- ================= MODAL - USER_DETAILS ================= -->
    <div class="modal fade" id="userDetailsModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content rounded-2 p-3" *ngIf="userDataUnique">
                <!-- Header -->
                <div class="d-flex flex-row align-items-center justify-content-between">
                    <p class="bodyLarge modal-title m-0">{{userDataUnique.username}}</p>
                    <button type="button" class="btn btn-outline-secondary px-3 py-1 rounded-2" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                </div>
                <hr class="my-3">
                <!-- Body -->
                <div class="d-flex flex-column gap-3">
                    <div class="d-flex flex-column">
                        <p class="bodySmall text-muted m-0">ID</p>
                        <p class="bodyMedium m-0">{{ userDataUnique._id }}</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="bodySmall text-muted m-0">Correo</p>
                        <p class="bodyMedium m-0">{{ userDataUnique.email }}</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="bodySmall text-muted m-0">Rol</p>
                        <p class="bodyMedium m-0">{{ userDataUnique.role }}</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="bodySmall text-muted m-0">Registrado</p>
                        <p class="bodyMedium m-0">{{ userDataUnique.createdAt | date:'medium' }}</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="bodySmall text-muted m-0">Modificado</p>
                        <p class="bodyMedium m-0">{{ userDataUnique.updatedAt | date:'medium' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ================= FOOTER ================= -->
    <app-BottomBar [type]="errorMessage ? 'error' : successMessage ? 'success' : null"
        [message]="errorMessage || successMessage" />


</body>