<body class="d-flex flex-column min-vh-100 bg-light">

    <!-- ================= HEADER ================= -->
    <app-TopBar />

    <!-- ================== MAIN ================== -->
    <main class="content-wrapper d-flex">
        <!-- View Navigation -->
        <navigationBar class="bg-white nav-panel border-end border-subtle-dark" />
        <!-- View Content -->
        <div class="bg-custom-background d-flex flex-column flex-grow-1 overflow-y-auto py-3 px-5">
            <!-- Post Form -->
            <!-- 
            <div class="mb-3">
                <view-title
                    title="Crear Nuevo Post"
                    icon="bi bi-pencil-square"
                />
                <div class="d-flex flex-column flex-grow-1 mt-3">
                    <form class="bg-white p-3 d-flex flex-column rounded-2">
                        <div class="mb-3">
                            <label for="title" class="bodyMedium fw-semibold">Título</label>
                            <input type="text" class="form-control rounded-2" name="title" id="title"
                                placeholder="Ej. Mi nuevo proyecto" required disabled />
                        </div>
                        <div class="mb-3">
                            <label class="bodyMedium fw-semibold">Contenido</label>
                            <textarea class="form-control rounded-2" rows="3" name="content"
                                placeholder="¿En qué estás pensando?" required disabled></textarea>
                        </div>
                        <button type="submit" class="bodyMedium btn btn-outline-dark rounded-0 fw-bold rounded-2"
                            disabled>
                            <i class="bi bi-send-fill me-1"></i> Publicar
                        </button>
                    </form>
                </div>
            </div> 
            -->

            <!-- Post Data[] -->
            <div class="flex-grow-1 d-flex flex-column">
                <!-- Title -->
                <view-title title="Publicaciones" icon="bi bi-rss-fill" />
                <!-- Content -->
                <div class="flex-grow-1 overflow-auto d-flex justify-content-center align-items-center mt-3">
                    <div class="p-3 d-flex flex-column justify-content-center align-items-center rounded-0 text-center">
                        <i class="bi bi-emoji-neutral text-dark fs-2 m-0"></i>
                        <p class="bodyMedium fw-semibold m-0">No hay publicaciones.</p>
                        <p class="bodySmall text-muted m-0">Wow, este mensaje se llegó a mostrar.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- ================= FOOTER ================= -->
    <app-BottomBar [type]="errorMessage ? 'error' : successMessage ? 'success' : null"
        [message]="errorMessage || successMessage" />

</body>