.profile-sidebar {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 2rem 1rem;
}
.profile-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #676767;
}
.username {
    font-weight: 700;
    font-size: 1.3rem;
}
/* ========================== */
.profile-info {
    flex: 2 1 70%;
    padding: 2rem;
    color: #333;
}

@media (max-width: 768px) {
    .glass-card {
        flex-direction: column;
    }
}