<div class="profile-container" *ngIf="profile">
    <div class="profile-card">

        <!-- User data -->
        <div class="profile-sidebar">
            <div class="username">{{ username }}</div>
            <div class="description">Tu perfil personal</div>
        </div>

        <!-- Profile data -->
        <div class="profile-info">
            <h2>Perfil</h2>
            <p>Nombre: {{ profile.name }}</p>
            <p>Apellido:{{ profile.surname }}</p>
            <p>Profesión: {{ profile.profession }}</p>
            <p>Intereses: {{ profile.interests.join(', ') || 'No definido' }}</p>
            <p>Hobbies: {{ profile.hobbies.join(', ') || 'No definido' }}</p>
            <p>Visible al público: {{ profile.visible ? 'Sí' : 'No' }}</p>
        </div>

        <button class="btn btn-primary fw-bold me-2" (click)="goToHome()">Regresar</button>
    </div>
</div>

<!-- Error messages from backend -->
<p *ngIf="errorMessage" class="cst-error-label">{{ errorMessage }}</p>
