<body class="bg-custom">
    <div class="container d-flex flex-column justify-content-center align-items-center vh-100">

        <!-- [ Seccion #1 ] -->
        <div class="card rounded-0 p-4 shadow w-50 mb-3" style="max-width: 400px;">
            <!-- #1. Titulo -->
            <h2 class="text-start pb-4 mb-0">Inicia Sesión</h2>
            <!-- #2. Formulario -->
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <!-- @email -->
                <div class="cst-form-group mb-3">
                    <label for="email" class="cst-fg-label">Email</label>
                    <input type="email" class="cst-fg-control rounded-0" formControlName="email"
                        placeholder="supercorreo@gmail.com" id="email" />
                </div>
                <!-- @password -->
                <div class="cst-form-group mb-3">
                    <label for="password" class="cst-fg-label">Clave</label>
                    <input type="password" class="cst-fg-control rounded-0" formControlName="password"
                        placeholder="admin123" id="password" />
                </div>
                <button class="btn btn-primary w-100 rounded-0 fw-bold">INGRESA</button>
                <p class="cst-error-label">{{ errorMessage }}</p>
            </form>
        </div>

        <!-- [ Seccion #2 ] -->
        <div class="card rounded-0 px-0 py-3 shadow w-50" style="max-width: 400px;">
            <div class="text-center">
                <p class="mb-0 cst-fg-label ">
                    ¿No tienes una cuenta aún?
                    <a class="link-offset-0 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                        href="../register">Cree una.</a>
                </p>
            </div>
        </div>

    </div>
</body>