<nav>
    <ul class="h-100 nav flex-column p-3 gap-2">
        <!-- [User Destinations] -->
        <li class="nav-item">
            <a routerLink="/home"
                routerLinkActive="onActive-User"
                class="px-3 d-flex flex-row align-items-center btn rounded-pill w-100 border-0">
                <i class="bi bi-rss-fill fs-6 me-2"></i>
                <span class="fs-6">Inicio</span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/profile"
                routerLinkActive="onActive-User"
                class="px-3 d-flex flex-row align-items-center btn rounded-pill w-100 border-0">
                <i class="bi bi-person-lines-fill fs-6 me-2"></i>
                <span class="fs-6">Perfil</span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/list-profile"
                routerLinkActive="onActive-User"
                class="px-3 d-flex flex-row align-items-center btn rounded-pill w-100 border-0">
                <i class="bi bi-globe-americas fs-6 me-2"></i>
                <span class="fs-6">Comunidad</span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/connections"
                routerLinkActive="onActive-User"
                class="px-3 d-flex flex-row align-items-center btn rounded-pill w-100 border-0">
                <i class="bi bi-plug-fill fs-6 me-2"></i>
                <span class="fs-6">Conexiones</span>
            </a>
        </li>
        <!-- [Admin Destinations] -->
        <li class="nav-item" *ngIf="isAdmin">
            <a routerLink="/admin"
                routerLinkActive="onActive-Admin"
                class="px-3 d-flex flex-row align-items-center btn rounded-pill w-100 border-0">
                <i class="bi bi-grid-1x2-fill fs-6 me-2"></i>
                <span class="fs-6">Panel Administrativo</span>
            </a>
        </li>
    </ul>
</nav>
