<nav>
    <ul class="h-100 nav flex-column p-3 gap-2">
        <!-- [User Destinations] -->
        <!-- Inicio -->
        <li class="nav-item">
            <a class="px-3 d-flex flex-row align-items-center btn btn-outline-dark rounded-pill w-100 border-0"
                (click)="goToHome()">
                <i class="bi bi-house-door-fill fs-6 me-2"></i>
                <span class="fs-6">Inicio</span>
            </a>
        </li>
        <!-- Perfil -->
        <li class="nav-item">
            <a class="px-3 d-flex flex-row align-items-center btn btn-outline-dark rounded-pill w-100 border-0"
                (click)="goToProfile()">
                <i class="bi bi-person-bounding-box fs-6 me-2"></i>
                <span class="fs-6">Perfil</span>
            </a>
        </li>
        <!-- Comunidad -->
        <li class="nav-item">
            <a class="px-3 d-flex flex-row align-items-center btn btn-outline-dark rounded-pill w-100 border-0"
                (click)="goToCommunity()">
                <i class="bi bi-globe-americas fs-6 me-2"></i>
                <span class="fs-6">Comunidad</span>
            </a>
        </li>
        <!-- Conexiones -->
        <li class="nav-item">
            <a class="px-3 d-flex flex-row align-items-center btn btn-outline-dark rounded-pill w-100 border-0"
                (click)="goToConnections()">
                <i class="bi bi-people-fill fs-6 me-2"></i>
                <span class="fs-6">Conexiones</span>
            </a>
        </li>
        <!-- [Admin Destinations] -->
        <!-- Gestionamiento de Usuarios -->
        <li class="nav-item" *ngIf="isAdmin">
            <a class="px-3 d-flex flex-row align-items-center btn btn-outline-primary rounded-pill w-100 border-0"
                (click)="goToAdminPanel()">
                <i class="bi bi-shield-lock-fill fs-6 me-2"></i>
                <span class="fs-6">Panel Administrativo</span>
            </a>
        </li>
    </ul>
</nav>
