/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Red Hat Text", sans-serif;
}
.content-wrapper {
    height: calc(100vh - 70px - 50px);
}
.nav-panel {
    width: 260px !important;
    flex-shrink: 0;
}
.bg-custom-background {
    background: #f3f5f7;
}
.bg-custom {
    background: #eef4f7;
}
::-webkit-scrollbar { display: none; }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
    -webkit-text-fill-color: #000000 !important;
    font-family: "Red Hat Text", sans-serif !important;
}

/* MARK: Matherials */

:root {
    /* Colors */
    --background: #131313;
    --surface: #242325;
    --onSurface: #F4EAEA;
    --onSurfaceVariant: #B1B1B1;
    --primary: #ffcc66;
    --secondary: #99cc99;
    --tertiary: #f2777a;
    --action: #3DA5D9;
    /* Typography */
    --bodyLarge: normal normal bold 20px "Red Hat Text", sans-serif;
    --bodyMedium: italic normal normal 16px "Red Hat Text", sans-serif;
    --bodySmall: normal normal normal 13px "Red Hat Text", sans-serif;
    /* Icons */
    --iconDefault: 24px;
}

.bodySmall {
    font: var(--bodySmall);
}
.bodyMedium {
    font: var(--bodyMedium);
}
.bodyLarge {
    font: var(--bodyLarge);
}


/* === [ Groups ] === */
.cst-form-group {
    display: flex;
    flex-direction: column;
}

/* === [ Controls ] === */
.cst-fg-control {
    padding: 0.4em 0.8em;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #e5e5e5;
    transition: border-color 0.3s ease, color 0.3s ease;
    background-color: transparent;
    box-shadow: none;
}

/* === [ Texts ] === */
.cst-fg-label {
    font-size: small;
    color: #000;
    transition: color 0.3s ease;
}
.cst-error-label {
    width: 100%;
    text-align: center;
    margin: 1em 0em;
    font-size: small;
    color: #ff0000;
}
.cst-success-label {
    width: 100%;
    text-align: center;
    margin: 1em 0em;
    font-size: small;
    color: #295afd;
}

/* === [ Animations ] === */
.cst-form-group:focus-within .cst-fg-label {
    color: #007bff;
}
.cst-form-group:focus-within .cst-fg-control {
    border-color: #007bff;
}