<footer class="text-white px-3 d-flex flex-row align-items-center justify-content-center" [ngClass]="{
      'bg-success': type === 'success',
      'bg-danger': type === 'error',
      'bg-warning text-dark': type === 'warning',
      'bg-dark': !type
  }" style="height:50px;">
    <!-- Default -->
    <ng-container *ngIf="!type">
        <i class="bi bi-c-circle me-2"></i>
        <p class="m-0 bodySmall fw-bold">
            Red Social 2025 — Todos los derechos reservados.
        </p>
    </ng-container>

    <!-- Success / Error / Warning -->
    <ng-container *ngIf="type">
        <i class="bi me-2" [ngClass]="{
            'bi-check-circle-fill': type === 'success',
            'bi-exclamation-triangle-fill': type === 'error',
            'bi-exclamation-octagon-fill': type === 'warning'
          }"></i>

        <p class="m-0 bodySmall fw-bold">{{ message }}</p>
    </ng-container>
</footer>