<body class="bg-custom">
    <div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
        <div class="card p-4 shadow text-center" style="max-width: 600px; width: 100%;">
            <div></div>
            <h2 class="mb-2">Bienvenido</h2>
            <h5>👋 Hola, {{ username }}!</h5>
            <p class="text-muted">Has iniciado sesión correctamente.</p>
            <button class="btn btn-danger w-100 mt-4 fw-bold" (click)="logout()">
                Cerrar Sesión
            </button>
            <button class="btn btn-primary w-100 mt-4 fw-bold">
                Modificar Perfil 'no funciona aun'
            </button>
            <button class="btn btn-success w-100 mt-4 fw-bold">
                Buscar / Ver Perfiles 'no funciona aun'
            </button>
        </div>
    </div>
</body>
