<body class="bg-custom">
    <div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
        <div class="card p-4 shadow text-center">
            <div></div>
            <h2 class="mb-2">Bienvenido</h2>
            <p class="text-muted">Has iniciado sesión correctamente.</p>
            <div class="d-flex flex-row justify-content-start align-items-center mb-3">
                <button class="btn btn-danger fw-bold me-2" (click)="logout()">
                    LogOut
                </button>
                <button class="btn btn-primary fw-bold me-2" (click)="goToProfile()">
                    Perfil
                </button>
                <button class="btn btn-primary fw-bold me-2">
                    Modificar Perfil (No funciona)
                </button>
                <button class="btn btn-primary fw-bold me-2">
                    Crear Post (No funciona)
                </button>
            </div>

            <!-- / 1. Post-Card / -->
            <div class="row">
                <div class="col-md-4 mb-3" *ngFor="let post of posts">
                    <div class="card rounded-0 card-hover h-100">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-title mb-0 fw-bold">{{ post.title }}</p>
                                <p class="text-secondary mb-0 fw-light fs-10">
                                    <small>{{ post.createdAt | date:'medium' }}</small>
                                </p>
                            </div>
                            <p class="card-text text-muted my-3 text-start">
                                <span class="text-primary">{{ post.idUser.username }}:</span>
                                {{ post.content }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</body>